.img-prof-login{
  
    width: 4.5rem;
    height: 4.5rem;
    border-radius: 150px;
    border: solid 2px;
    color: var(--bs-body-color);
  
}
@media (max-width: 600px){
    input.form-control.form-control-sm.w-25.text-center {
        display: none;
    }
}

