img{
  width: 80%;
  height: auto;
}
.sh-cd{
  box-shadow: 0px -1px 5px 5px #d77009;
}

@media (max-width: 600px) {

  .m600-block{
    display: block!important;
  }
  img{
    width: 30%;
    height: auto;
  }
  .w-50{
    width: 100%!important;
  }
  
}