.offcanvas-header{
  background-color: #00b6df;
}
.d-grid{
  display: grid;
}
.border-r{
  border-radius: 0px;
}

.lbl-nota::before{
  content: "Notas";

}

.lbl-cronograma:before{
  content: "Cronograma";
}
.lbl-uniforme:before{
  content: "Uniforme";
}
.offcanvas-body{
  background-image: url('../../assets/bg-amarillo.jpg');
  background-size: contain;
}
.z-ofc{
  z-index: 4;
}
.imgC{
  width: 2.8rem;
  height: auto;
}
.imgNAA{
  width: 2.8rem;
  height: auto;
}
.imgNAN{
  width: 3rem;
  height: auto;
}

@media (max-width: 600px){
  .lbl-nota::before{
    content: "N";
  
  }
  
  .lbl-cronograma:before{
    content: "C";
  }
  .lbl-uniforme:before{
    content: "U";
  }
  .z-ofc{
    width: 10%;
    font-size: 0.8rem;
  }

  .imgNAA{
    width: 30px;
    height: auto;
  }
  .imgNAN{
    width: 30px;
    height: auto;
  }
  .ds{
    display: none;
  }
  .imgC{
    width: 1.7rem;
  }


}