.ul-princ{
  width: 100%;
}
.li-img-prof{
  
  border: solid 3px;
  border-radius: 150px;
}
.div-img-prof{
  height: auto;
  width: auto;
}

.img-prof{
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 150px;
  border: solid 2px;
  color: var(--bs-body-color);
}
.btn-my1{
  background-color: transparent;
  border-color: transparent;
}
.btn-my1.show{
  background-color: transparent;
  border-color: transparent;
}
.btn-my1:hover{
  border-color: transparent;
  background-color: transparent;
}
.dr-login{
  width: 250px;
  border: 1px solid black!important;
 
}
.nav-item-login{
  display: none!important;
}
.nav-mob-login{
  display: flex;
}
.chat{
  background-color: #3cb361!important;
}
@media (max-width: 600px){
  .nav-mob{
      width: 75%!important;
      display: flex;
  }
  
  .nav-item-login{
    display: flex!important;
  }
  .nav-mob-login{
    display: none;
  }
}

